body{
    margin: 0px;
}
p,h1{
    text-align: center;
}
header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    --taille:100px;
}
a{
    text-decoration: none;
    color: black;
}
header li{
    display: inline-block;
    margin-left: 20px;
}
.logo{
width: 150px;
}
header div{
    width: 100% ;
    display: flex;
    justify-content: flex-end;
}
.image{
    width: 100%;
    clip-path: inset(150px 0px 150px 0px);
    margin-top: -150px;
    margin-bottom: -150px;
}
.texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgba(64, 67, 4, 0.901);
}
.verbes{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.texte p{
    margin-top: 0px;
}
.texte button{
    width: 200px;
}
.headline{
    padding: 8%;
    display: flex;
}
.sport2{
    width: 50%;
    display: flex;
}
.headline img{
    width: 100%; 
}
.contenu-texte{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
}
.contenu-texte button{
    width: 150px;
    border: 2px solid rgba(64, 67, 4, 0.901);
    color: rgba(64, 67, 4, 0.901);
}
.nutriments{
    margin: 0px;
    padding: 0px;
}
.nutriments img{
    width:calc((100%/3));
    height: 350px;
    margin: -2px;
    padding: -0.5px;
}
@media screen and (max-width:700px) {
    .headline{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sport2{
        width: 100%;
    }
    .contenu-texte{
        width: 100%;
    }
}

@media screen and (max-width:1000px) {
    .image{
        width: 100%;
        clip-path: inset(0 0 0 0);
        margin: 0;
    } 
    .nutriments img{
        height: 200px;
    }
}
@media screen and (max-width:500px) {
    header li{
        margin-left: 2px;
    }
    header div{
        width: 300px;
        width: 100% ;
        display: flex;
        justify-content: center;
    }
    ul{
        padding-left: 10px;
     }
    .logo{
        width: 100px;
    }
    .nutriments img{
        height: 150px;
    }
}